<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

	{% include navbar.html %}

    <div class="container">
	  <p>
	  {% if prev is not None %}
	  <a style="float:left" href="{! prev !}{! tags !}">&lt; Previous</a>
	  {% end if %}
	  {% if next is not None %}
	  <a style="float:right" href="{! next !}{! tags !}">Next &gt;</a>
	  {% end if %}
	  </p>
	  <br>
	  {% for p in posts %}
	  <div>
	  {% safe p['body'] %}
	  </div>
	  <small>
		<a href="/post/{! p['title'] !}" title="{! p['title'] !}">
		  {! p['title'] !}
		</a>
		-
		<i>Posted on {! p['date'] !}.
		  Tagged as
		  {% for tag in p['tags'] %}
		  <a href="/?tags={! tag !}">{! tag !}</a>
		  {% end for %}
		</i>
	  </small>
	  </a>
	  <hr>
	  {% empty %}
	  No posts on this page, sorry.
	  <hr>
	  {% end for %}

	  <br>
	  <p>
	  {% if prev is not None %}
	  <a style="float:left" href="{! prev !}{! tags !}">&lt; Previous</a>
	  {% end if %}
	  {% if next is not None %}
	  <a style="float:right" href="{! next !}{! tags !}">Next &gt;</a>
	  {% end if %}
	  </p>
	  <br>
	  
	  {*
      <footer class="footer">
	  </footer>
	  *}
    </div> <!-- /container -->

	{* {% include sidebar.html %} *}
	
	{% include scripts.html %}
	
  </body>
</html>
