<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>

	{% include navbar.html %}
	
    <div class="container">
	  <p>
	  {% if prev is not None %}
	  <a style="float:left" href="/blog{! prev !}">&lt; Previous</a>
	  {% end if %}
	  {% if next is not None %}
	  <a style="float:right" href="/blog{! next !}">Next &gt;</a>
	  {% end if %}
	  </p>
	  <br>
	  {% for p in posts %}
	  <div>
	  {% safe p['body'] %}
	  </div>
	  <a href="/blog/posts/{! p['title'] !}" title="{! p['title'] !}">
		<small> {! p['title'] !} - <i>Posted on {! p['date'] !}.</i></small>
	  </a>
	  <hr>
	  {% empty %}
	  No posts on this page, sorry.
	  <hr>
	  {% end for %}

	  <br>
	  <p>
	  {% if prev is not None %}
	  <a style="float:left" href="/blog{! prev !}">&lt; Previous</a>
	  {% end if %}
	  {% if next is not None %}
	  <a style="float:right" href="/blog{! next !}">Next &gt;</a>
	  {% end if %}
	  </p>
	  <br>
	  
	  {*
      <footer class="footer">
	  </footer>
	  *}
    </div> <!-- /container -->

	{% include scripts.html %}
	
  </body>
</html>
